section {
    margin: 10%;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 300px;
    align-items: flex-start;
    border: 1px solid blue;
    padding: 1px 12px 12px 1px;
}

.box div {
    background-color: rgb(165, 213, 238);
    border: 1px solid rgb(0,72,255);
    padding: 10px;
    margin: 1px;
}

.horizontal .box div:first-child{
    height: calc(100% - 3px);
    padding-bottom: 0;
}

.horizontal .box {
    width: 210px;
}

.box .selected{
    align-self: center;
}

.vertical .box{
    flex-direction: column;
    height: 200px;
    width: 160px;
}

.vertical .box div:first-child{
    width: 100%;
    padding-right: 0;
}