*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(170, 170, 170, 0.99);
    background-image: url(./zadanie11/background.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 200px;
    grid-template-rows: 60px 60px auto auto 45px;
    height: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    header { grid-area: 1 / 1 / 2 / 6; }
    nav { grid-area: 2 / 2 / 3 / 5; }
    main { grid-area: 3 / 2 / 5 / 5; }
    sidebar { grid-area: 2 / 1 / 5 / 2; }
    .ads { grid-area: 2 / 5 / 5 / 6; }
    footer { grid-area: 5 / 1 / 6 / 6; }
  
    header{background-color: blue;}
    nav{background-color: red}
    sidebar{background-color: pink;}
    .ads{background-color: green;}
    footer{background-color: rgb(7, 101, 207);
}

/* header */

header {
    z-index: 20;
    background-color: #078f4f;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 35px;
    color: #2ee690;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* nav */

nav {
    background-color: #025a31aa;
    display: flex;
    position: sticky;
    top: -1px;
    z-index: 999;
}

nav div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:first-child {
    border-left: none;
}

nav div:hover {
    background-color: #078f4f;
}

nav a{
    font-size: 2.5em;
    color: #2ee690;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display:inline-block;
    width:100%;
}

/* sidebar */

sidebar {
    background-color: #078f4faa;
    position: relative;
}

.card-wrapper {
    position: sticky;
    top: 40px;
    width: 85%;
    padding: 10px;
    margin: 40px auto;
    background: #10d150;
    border-radius: 20px;
    opacity: 1 !important;
}

sidebar .img-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

sidebar img {
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

sidebar p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #002413;
    padding: 0 px;
    text-align: center;
}

sidebar .icons {
    margin-top: 15px;
    margin-bottom: -4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.icons img {
    border-radius: 35%;
    width: 70px;
}

/* ads */

.ads {
    background-color: #078f4faa;
    position: relative;

}

.ads .img-wrapper {
    position: sticky;
    top: 20px;
}

.ads a img {
    width: 100%;
    padding: 40px 0;
}

/* footer */

footer {
    background-color: #078f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 10px auto;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
    color: #14d67c;
}

/* main */

main {
    min-height: 200vh;
}

article {
    width: 80%;
    height: auto;
    margin: 100px auto;
    position: relative;
}

article:first-of-type {
    margin-top: 50px;
}

article:last-of-type {
    margin-bottom: 50px;
}

.article-background {
    background-color: #ffffffaa;
    transform: skew(-10deg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.entry-content {
    padding: 35px 40px;
    position: relative;
}

.entry-content img {
    float: left;
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    shape-outside: circle();
    margin-right: 30px;
    margin-top: -15px;
}

.entry-content h3 {
    font-size: 1.9em;
    margin-bottom: 10px;
}

.entry-content p {
    font-size: 1.2em;
}

/* form */

form {
    width: 80%;
    background-image: url(./zadanie11/form-bg.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    /* z-index: -2; */
    margin: 50px auto;
}

.form-background {
    background-color: #dddddd88;
    position: absolute;
    top:-50%;
    bottom:-50%;
    left: -30%;
    width: 100%;
    transform: rotate(15deg);
}

form .content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}

form h3 {
    width: 150%;
    margin: 50px auto 10px auto;
    text-align: left;
    font-weight: bold;
    background: linear-gradient(90deg, #39ca22, #32a981 25%);
    font-size: 1.5em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form input {
    width: 110%;
    border: none;
    padding: 10px;
    margin: 15px 0;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px 0;
}

.radio-buttons input[type="radio"] {
    appearance: none;
    border: 4px solid #078f4f;
    border-radius: 50%;
    width: 15px; 
    aspect-ratio: 1/1;
    outline: none;
}

.radio-buttons input[type="radio"]:last-child {
    margin-left: 1000px;
}

.radio-buttons input[type="radio"]:checked {
    background: #09c76e;
}

.radio-buttons label {
    font-size: 0.9em;
    /* position label inline with radio */
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.radio-buttons label:first-of-type {
    padding-right: 15px;
}

button {
    width: auto;
    float: left;
    margin-bottom: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #09c76e;
    color: white;
    font-size: 1.2em;
}


@media(max-width: 1000px){
    .page-wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 50px 50px auto auto 1fr ;
      }
      
      header { grid-area: 1 / 1 / 1 / 4; }
      nav { grid-area: 2 / 1 / 2 / 4; }
      .ads { grid-area: 5 / 1 / 5 / 1; }
      main { grid-area: 3 / 2 / 5 / 5; }
      sidebar { grid-area: 3 / 1 / 5 / 1; }
      footer { grid-area: 5 / 2 / 5 / 4; }

      main h3 {
        font-size: 1.4em !important;
    }

      main p {
        font-size: 1em !important;
      }

      form .content {
        padding: 0 20px;
      }

      form label {
        font-size: 0.8em !important;
        padding-left: 5px !important;
      }

      .card-wrapper {
        top: 70px;
      }

      .ads {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .ads .img-wrapper {
        width: 90%;
        margin: 0;
      }

      .ads a img {
        margin: 0;
        padding: 0;
        padding-top: 10px;
      }

      .ads a img:last-of-type{
        padding-bottom: 10px;
      }

      /* add extra content to the footer */
        footer {
            flex-direction: column;
        }

        footer p{
            text-align: start;
        }

        footer p::after{
            padding-top: 10px;
            color: red;
            content: "\a I ABSOLUTELY HATE THE FACT\aTHAT THE ADS HAVE TO BE\aNEXT TO THE FOOTER, THIS\aMAKES THE FOOTER LOOK\aMASSIVE, WHY WOULD I EVEN DO THAT";
            white-space: pre;
        }

  }
  @media(max-width: 660px){
    .page-wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 50px auto auto 1fr 50px;
      }
      
      header { grid-area: 1 / 1 / 1 / 1; }
      nav { grid-area: 2 / 1 / 2 / 1; }
      .ads { grid-area: 5 / 1 / 5 / 1; }
      main { grid-area: 3 / 1 / 3 / 1; }
      sidebar { grid-area: 4 / 1 / 4 / 1; }
      footer { grid-area: 6 / 1 / 6 / 1; }
      
      sidebar {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #078f4faa;
      }

      .ads .img-wrapper {
        width: 60%;
      }

      footer p::after{
        color: none;
        content: ""
    }

  }